/**************************************************************************************************************
 *
 *    FRAMEWORK 
 *
 **************************************************************************************************************/
/* For ajax.js */
.livesearchResultRows{
	color:#00A9FD;
}
.livesearchResultRows:hover{
	cursor:pointer;
	cursor:hand;
	color:#FF6903; 	
}

/**************************************************************************************************************
 *
 *     H T M L 
 *
 **************************************************************************************************************/

/*************************** BASICS ***************************/

body{
	font: normal 14px/1.5em tahoma, arial, sans-serif;
	color:white;
	background-color: black;
}
h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0;
	color: #fff;
	padding: 10px;
}
h1 {
	font-size: 30px;
}
h2 {
	color: #FF6903;
}
h3 {
	color: #00A9FD;
	font-size:14px;
	padding: 4px;
}
p {
	font-size:12px;
}
td, th {
	font-size:11px;
	text-align:left;
	vertical-align: top;
	padding:2px;
}
div {
	display: block;
	font-size:11px;
}

hr {
	border:1px solid #333333;
}

/*************************** LINKS ***************************/

a			{ text-decoration: none; }
a:link		{ color: #00A9FD; }
a:visited	{ color: #00A9FD; }
a:active	{ color: #00A9FD; }
a:hover		{ color: #FF6903; }

/*************************** fake links Classes ***************************/
.fakeOnClickLink  {
	display: block;
	color: #00A9FD;
}
.fakeOnClickLink:hover {
	cursor:pointer;
	cursor:hand;
	color: #FF6903; 
}



/*************************** FORMS - GENERAL ****************************/
label {
	float:left;
	width:120px;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
}
legend {
	padding: 0.2em 0.5em;
	border:1px solid #333333;
	color:#00A9FD;
	font-size:13px;
	text-align:left;
}
fieldset {
	border:1px solid #333333;
}

	
/*************************** FORMS - FIELDS ****************************/
input[type=text] {
	height:20px;
	background:#1C1C1C;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 12px;
}
input[type=text]:hover {
	border: solid 1px #FF6903;
}
input[type=password] {
	height:20px;
	background:#1C1C1C;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 12px;
}
input[type=password]:hover {
	border: solid 1px #FF6903;
}
input[type=button] {
	height:24px;
	background:#00A9FD;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 12px;
}
input[type=button]:hover {
	background:#FF6903;
}
input[type=submit] {
	height:24px;
	background:#00A9FD;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 12px;
}
input[type=submit]:hover {
	background:#FF6903;
}
input[type=reset] {
	height:24px;
	background:#00A9FD;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 12px;
}
input[type=reset]:hover {
	background:#FF6903;
}

select {
	background:#1C1C1C;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 11px;
}
select option {
	background:#1C1C1C;
	border: solid 1px #2F2F2F;
	color: #D7D7D7;
	font-size: 11px;
}





/**************************************************************************************************************
 *
 *    E L E M E N T S
 *
 **************************************************************************************************************/

 

/*************************** fake hover box link (put border around) ***************************/
.borderMe {
	border: solid 1px #2F2F2F; 
}
.borderMe:hover {
	cursor:pointer;
	cursor:hand;
	border: solid 1px #FF6903; 	
}