
#whole
{
margin:auto;
width:100em;
background:url(/img/site/skyline.jpg) no-repeat;
padding-top:200px;
}
#wraper {
margin:auto;
color:black;
margin-top:0px;
width:90em;
background-color:blue;

}


#content {
width:90em;
float:left;
background-color:white;
}

#footer {
width:87em;
padding:1.5em;
color:white;
clear:left;

background-color:#333;
}

#header {
width:100%;
background-color:#333;
}

/*  TOP BAR */


.topbar{
height:2.5em;
width:100%;
background-color:#333;
margin-top:0px;
}

/*  TOP MENU */
.topmenu {
	width: 100%;
	
	margin: 0;
	padding: 0;

}
.topmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.topmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	background-color:#333;

}

.topmenu ul li a {
	display: block;
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	float: left;
	
	font-size: 1.2em;
	color: #aaa;
	text-decoration: none;
	border-top:1px solid #333;
}

.topmenu ul li a:hover 
{	
	border:none;
	border-top:1px solid #333;
	background-color:#555;
}
.topmenu ul li.active a {
	border-top:1px solid red;
	background-color:#555;
}

.userBlog p {
padding-left:3em;
}


/* UserMessageBlock */

.userMessagesBlock
{
padding:0.5em 1em;
}
.userMessagesBlock a{}